body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    /* overflow: hidden; */
    background-color: rgba(0, 0, 0, 1);
    --cell-color: rgba(50, 50, 50, 1);
    --highlighted-cell-color: rgb(51, 127, 190);
    --highlighted-text-color: rgb(62, 156, 235);
    --number-color: rgb(240, 239, 239);
    --border-color: rgb(159, 159, 159);
    --grid-width: 60vmin;
    --button-array-width: calc(0.5 * var(--grid-width));
    --l-border-width: calc(0.007*var(--grid-width));
    --s-border-width: calc(0.0025*var(--grid-width));
}

h1 {
  text-align: center;
  font-family: fantasy;
  font-size: 6vw;
  color: var(--number-color);
  margin-top: 5vh;
}

footer {
  color: var(--number-color);
  margin-left: calc(0.5 * (100vw - var(--grid-width)));
  margin-top: 5vh;
  margin-bottom: 2vh;
  font-size: 1.3vw;
}

a {
  text-decoration: none;
  color: var(--highlighted-text-color);
}

p {
  text-align: justify;
  font-size: 1.3em;
}

#about-container {
  color: var(--number-color);
  margin-left: calc(0.5 * (100vw - var(--grid-width)));
  margin-right: calc(0.5 * (100vw - var(--grid-width)));
  margin-top: 10vh;
}

#ilp {
  margin-left: calc(0.22 * (100vw - var(--grid-width)));
}

#game_grid {
  display: grid;
  border: var(--l-border-width) solid var(--border-color);
  margin-left: calc(0.5 * (100vw - var(--grid-width)));
  /* margin-top: calc(0.25 * (100vh - var(--grid-width))); */
  width: var(--grid-width);
  height: var(--grid-width);
}

.big-cell {
  display: grid;
  background-color: var(--cell-color);
  border: var(--l-border-width) solid var(--border-color);
}

.selected-cell {
  /* background-color: var(--highlighted-cell-color); */
  color: var(--number-color);
}

.unselected-cell {
  /* background-color: var(--cell-color); */
  color: var(--number-color);
}

.empty-cell {
  /* background-color: var(--cell-color); */
  color: rgba(240, 239, 239, 0);
}

.small-cell {
  border: var(--s-border-width) solid var(--border-color);
  font-size: calc(0.07 * var(--grid-width));
  text-align: center;
  padding-top: 5%;
}
.small-cell:focus {
  background-color: var(--highlighted-cell-color);
}

.initial-cell {
  background-color: var(--cell-color);
  color: var(--highlighted-cell-color);
}

.button-array {
  width: var(--button-array-width);
  height: auto;
  margin-left: calc(0.5 * (100vw - var(--grid-width)) + 0.5 * var(--grid-width));
  margin-top: calc(0.07 * var(--button-array-width));
}

.button {
  font-size: calc(0.12 * var(--button-array-width));
  width: calc(0.44 * var(--button-array-width));
  height: calc(0.20 * var(--button-array-width));
  background-color: var(--highlighted-cell-color);
  border: none;
  color: var(--number-color);
  text-align: center;
  text-decoration: none;
  display: inline;
  margin-top: calc(0.1 * var(--button-array-width));
  margin-right: calc(0.02 * var(--button-array-width));
  padding: 0;
  cursor: pointer;
  border-radius: 10%;
  user-select: none;
  outline: none;
  box-shadow: 0 calc(0.03 * var(--button-array-width)); rgb(221, 221, 221);
}
.button:active {
  box-shadow: 0 0.3vw var(--highlighted-cell-color);
  transform: translateY(4px);
}

::-webkit-scrollbar {
  width: 1vw;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 0.25vw grey;
  border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb {
  background: var(--highlighted-cell-color);
  border-radius: 0.5vw;
}

::-webkit-scrollbar-thumb:hover {
  background: var(--highlighted-cell-color);
}

@media only screen and (max-width: 768px) {

  body {
    --grid-width: 80vmin;
  }

  h1 {
    font-size: 9vw;
  }

  footer {
    color: var(--number-color);
    margin-left: calc(0.5 * (100vw - var(--grid-width)));
    margin-top: 5vh;
    margin-bottom: 2vh;
    font-size: 1em;
  }

  p {
    text-align: justify;
    font-size: 1.1em;
  }

  #ilp {
    margin-left: calc(0.5 * (100vw - var(--grid-width)));
  }

}
