body, html {
    min-height: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 1);
    --cell-color: rgba(50, 50, 50, 1);
    /* rgb(32, 86, 131); */
    --highlighted-cell-color: rgb(51, 127, 190);
    --number-color: rgb(240, 239, 239);
    --border-color: rgb(159, 159, 159);
}

#game_grid {
  display: grid;
  background-color: rgba(50, 50, 50, 1);
  border: 0.5vmin solid var(--border-color);
  margin-left: calc(0.5 * (100vw - 80vmin));
  margin-top: calc(0.25 * (100vh - 80vmin));
  width: 80vmin;
  height: 80vmin;
}

.big-cell {
  display: grid;
  background-color: var(--cell-color);
  border: 0.5vmin solid var(--border-color);
}

.small-cell {
  background-color: var(--cell-color);
  border: 0.1vmin solid var(--border-color);
  color: rgb(240, 239, 239, 0);
  font-size: 3.5em;
  text-align: center;
  padding-top: 5%;
}

.selected-cell {
  background-color: var(--highlighted-cell-color);
  border: 0.1vmin solid var(--border-color);
  color: var(--number-color);
}

.button-array {
  width: 70vmin;
  height: auto;
  margin-left: calc(0.5 * (100vw - 80vmin));
  position: absolute;
  top: calc(80vmin + 0.25 * (100vh - 80vmin));

}

.button {
  padding: 1vmin;
  font-size: 4vmin;
  width: 14vmin;
  height: 8vmin;
  background-color: var(--highlighted-cell-color);
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline;
  margin: 1em 0em;
  cursor: pointer;
  border-radius: 1vmax;
  user-select: none;
  outline: none;
  box-shadow: 0 0.5vmax rgb(221, 221, 221);
}
.button:active {
  box-shadow: 0 0.3vw var(--highlighted-cell-color);
  transform: translateY(4px);
}
